.carousel-img {
   width: 100%;
   height: 100%;
   max-height: 400px !important;
   border-radius: $border-radius;

   span {
      width: 100%;
      height: 100%;
      max-height: 400px !important;
      border-radius: $border-radius;
      
      img {
         width: 100% !important;
         height: 100% !important;
         object-fit: cover !important;
         object-position: center !important;
         display: block !important;
      }
   }
}

.p-top-1 {
   padding-top: 0rem; 

   @include tablet {
      padding-top: 0.5rem;
   }
}
// .carousel .control-next.control-arrow:before {
//    @include mobile{
//       border-left: 4px solid #fff !important;
//    }
// }

// .carousel .control-prev.control-arrow:before {
//    @include mobile{
//       border-right: 4px solid #fff !important;
//    }
// }


// .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
//    @include mobile{
//       margin: 0 4px !important;
//       display: inline-block !important;
//       border-top: 4px solid transparent !important;
//       border-bottom: 4px solid transparent !important;
//       content: '';
//    }
// }